A:link {
	COLOR: #000000; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
A:visited {
	COLOR: #88c848; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
A:active {
	COLOR: #ff0000; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
A:hover {
	COLOR: #88c848; TEXT-DECORATION: underline
}
BODY {
	FONT-SIZE: 9pt; LINE-HEIGHT: 14pt; FONT-FAMILY: "宋体"
}
TH {
	FONT-SIZE: 9pt; LINE-HEIGHT: 14pt; FONT-FAMILY: "宋体"
}
TD {
	FONT-SIZE: 9pt
}
TD.toolCell {
	BORDER-RIGHT: #ffffff 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.p14 {
	FONT-SIZE: 9pt; LINE-HEIGHT: 14pt; FONT-FAMILY: "宋体"
}
.bc {  border: #88c848; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
